#gallery img{
    width:100%;
}

h2{
    font-family: impact,fantasy;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-style: italic;
}

h2:hover{

    color: rgb(214, 214, 214); ;
}

h4{
    font-family: impact,fantasy;
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-style: italic;
    padding-left: 50px;
    padding-top: 10px;
}

p{
    font-family: Helvetica, sans-serif;
    color:white;
    padding-left: 50px;
}

.highlight{

    background-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
}

#menu{     
    
    width: 100%;
    height: 40px;
    background-color: black;
    padding-top: 12px;

}

#menu a{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800px;

    padding-left: 20px;
    padding-right: 20px;

}

#menu a:hover{

    color: rgb(214, 214, 214);;

}

.content p{

    font-family: Helvetica, sans-serif;
    color: rgb(214, 214, 214);
    position:relative;
    padding-left: 75px;
    z-index: 2;
    
}

.background{

    background-image: url(images/background.jpg);
    background-blend-mode: darken;
    background-size:auto;
    background-position: center;
    height: 137vh;
    
    
}

h3{

    color:rgb(214, 214, 214);
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 75px;
}


